<template>
  <div>
    <!-- Load from webpack (note the srcPath="dist" prop) -->
    <Monaco
      :code="code"
      :schema="schema"
      :options="options"
      :highlighted="highlightLines"
      :change-throttle="500"
      height="600"
      width="600"
      src-path="dist"
      theme="vs-dark"
      @mounted="onMounted"
      @codeChange="onCodeChange"/>
    <button @click="clickHandler">Log value</button>
    <input v-model="highlightLines[0].number" placeholder="primary highlight #">
    <input v-model="highlightLines[1].number" placeholder="secondary highlight #">
  </div>
</template>

<script lang="ts">
import Vue from "vue";

import Monaco from "./Monaco.vue";

export default Vue.extend({
    "components": {
        Monaco
    },
    data() {
        return {
            "code": "// type your code \n",
            "highlightLines": [
                {
                    "number": 0,
                    "class": "primary-highlighted-line"
                },
                {
                    "number": 0,
                    "class": "secondary-highlighted-line"
                }
            ],
            "schema": {
                "title": "Product",
                "description": "A product from Acme's catalog",
                "type": "object",

                "properties": {

                    "id": {
                        "description": "The unique identifier for a product",
                        "type": "integer"
                    },

                    "name": {
                        "description": "Name of the product",
                        "type": "string"
                    },

                    "price": {
                        "type": "number",
                        "minimum": 0,
                        "exclusiveMinimum": true
                    }
                },

                "required": ["id", "name", "price"]
            }
        };
    },
    "methods": {
        onMounted(editor) {
            console.log("after mount!", editor, editor.getValue(), editor.getModel());
            this.editor = editor;
        },
        onCodeChange() {
            console.log("code changed!", `code:${this.editor.getValue()}`);
        },
        clickHandler() {
            console.log("here is the code:", this.editor.getValue());
        }
    },
    created() {
        this.options = {
            "selectOnLineNumbers": false
        };
    }
});
</script>

<style media="screen">
  .secondary-highlighted-line {
    background: green;
  }
  .primary-highlighted-line {
    background: blue;
  }
  .monaco-editor {
      height: 500;
  }
</style>
