<template>
  <div :style="style"/>
</template>

<script lang="ts">
import Vue from "vue";
// eslint-disable-next-line import/no-unresolved
import * as monaco from "monaco-editor";
import debounce from "lodash.debounce";
import jsonFormat from "json-format";
import objectAssign from "object-assign";

interface MonacoWindow extends Window {
  MonacoEnvironment: any;
}

declare const self: MonacoWindow;

self.MonacoEnvironment = {
    getWorkerUrl(moduleId, label) {
        if (label === "json") {
            return "./json.worker.bundle.js";
        }
        if (label === "css") {
            return "./css.worker.bundle.js";
        }
        if (label === "html") {
            return "./html.worker.bundle.js";
        }
        if (label === "typescript" || label === "javascript") {
            return "./ts.worker.bundle.js";
        }

        return "./editor.worker.bundle.js";
    }
};

export default Vue.extend({
    "props": {
        "width": {
            "type": [String, Number],
            "default": "100%"
        },
        "height": {
            "type": [String, Number],
            "default": "100%"
        },
        "code": {
            "type": String,
            "default": "// code \n"
        },
        "srcPath": { "type": String },
        "language": {
            "type": String,
            "default": "json"
        },
        "theme": {
            "type": String,
            "default": "vs-dark"
        },
        "options": {
            "type": Object,
            "default": () => {}
        },
        "highlighted": {
            "type": Array,
            "default": () => [
                {
                    "number": 0,
                    "class": ""
                }
            ]
        },
        "schema": {
            "type": Object,
            "default": () => {
                return {
                    "title": "Product",
                    "description": "A product from Acme's catalog",
                    "type": "object",

                    "properties": {
                        "id": {
                            "description": "The unique identifier for a product",
                            "type": "integer"
                        },

                        "name": {
                            "description": "Name of the product",
                            "type": "string"
                        },

                        "price": {
                            "type": "number",
                            "minimum": 0,
                            "exclusiveMinimum": true
                        }
                    },

                    "required": ["id", "name", "price"]
                };
            }
        },
        "changeThrottle": {
            "type": Number,
            "default": 0
        }
    },
    data() {
        return {
            "times": 0,
            "mounted": false,
            "defaults": {
                "selectOnLineNumbers": true,
                "roundedSelection": false,
                "readOnly": false,
                "cursorStyle": "line",
                "automaticLayout": false,
                "glyphMargin": true
            }
        };
    },
    "computed": {
        style() {
            const { width, height } = this;

            return {
                width,
                height
            };
        },
        editorOptions() {
            //@ts-ignore
            this.model = monaco.editor.createModel(
                this.code,
                "json",
                monaco.Uri.parse(`internal://server/store-config-${this.times++}.json`)
            );

            //@ts-ignore
            return objectAssign({}, this.defaults, this.options, {
                //@ts-ignore
                "model": this.model,
                //@ts-ignore
                "theme": this.theme
            });
        }
    },
    "watch": {
        "highlighted": {
            handler(lines) {
                //@ts-ignore
                this.highlightLines(lines);
            },
            "deep": true
        },
        "code": {
            handler() {
                //@ts-ignore
                if (this.model) {
                    this.model.setValue(jsonFormat(JSON.parse(this.code)));
                }
            }
        }
    },
    destroyed() {
        this.destroyMonaco();
    },
    "methods": {
        highlightLines(lines) {
            //@ts-ignore
            if (!this.editor) {
                return;
            }
            lines.forEach((line) => {
                const className = line.class;
                const highlighted = this.$el.querySelector(`.${className}`);

                if (highlighted) {
                    highlighted.classList.remove(className);
                }

                const number = parseInt(line.number, 10);

                //@ts-ignore
                if (!this.editor && (number < 1 || isNaN(number))) {
                    return;
                }

                const selectedLine = this.$el.querySelector(
                    `.view-lines [linenumber="${number}"]`
                );

                if (selectedLine) {
                    selectedLine.classList.add(className);
                }
            });
        },
        editorHasLoaded(editor, monaco) {
            //@ts-ignore
            this.editor = editor;
            //@ts-ignore
            this.monaco = monaco;
            //@ts-ignore
            this.editor.onDidChangeModelContent((event) =>
                //@ts-ignore
                this.codeChangeHandler(editor, event)
            );
            this.$emit("mounted", editor);
        },
        codeChangeHandler(editor) {
            //@ts-ignore
            if (this.codeChangeEmitter) {
                //@ts-ignore
                this.codeChangeEmitter(editor);
            } else {
                //@ts-ignore
                this.codeChangeEmitter = debounce(
                    (editor) => this.$emit("codeChange", editor),
                    //@ts-ignore
                    this.changeThrottle
                );
                //@ts-ignore
                this.codeChangeEmitter(editor);
            }
        },
        create() {
            //@ts-ignore
            this.editor = monaco.editor.create(this.$el, this.editorOptions);
            //@ts-ignore
            this.editorHasLoaded(this.editor, monaco);
        },
        destroyMonaco() {
            //@ts-ignore
            if (typeof this.editor !== "undefined") {
                //@ts-ignore
                this.editor.dispose();
            }
        }
    }
});
</script>
